* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex;
    height: 100vh;
  }
  
  .image-background {
    width: 50%;
    background: url('assents/imagem\ fundo.png') no-repeat center center;
    background-size: cover;
    opacity: 0.6;
  }
  
  .form-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  